import React from "react"
import Carousel from "react-bootstrap/Carousel";

var img1 = "<%= asset_path "kevin-ku-w7ZyuGYNpRQ-unsplash.jpg"%>";
var img2 = "<%= asset_path "chris-ried-ieic5Tq8YMk-unsplash.jpg"%>";
var img3 = "<%= asset_path "maxwell-nelson-taiuG8CPKAQ-unsplash.jpg"%>";
class Personal extends React.Component {
  render () {
    return (
        <div className="carousel-container">
            <Carousel>
                <Carousel.Item>
                  <img src={img1} className="d-block w-100 carousel-img"
                  alt="first"/>
                </Carousel.Item>
                <Carousel.Item>
                    <img src={img2} className="d-block w-100 carousel-img"
                         alt="second"/>
                </Carousel.Item>
                <Carousel.Item>
                    <img src={img3} className="d-block w-100 carousel-img"
                    alt="third" />
                </Carousel.Item>
            </Carousel>
        </div>
    );
  }
}

export default Personal
