<div id="carouselExampleIndicators" class="carousel slide card" data-ride="carousel mb-0">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "code-1.jpg", class: "d-block w-100" %>
    </div>
  </div>
</div>