<div class="header-container">
<section class="showcase m-2 mb-0">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img show-2"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fully Responsive Design</h2>
        <p class="lead mb-0">We provide simple, easy to use and beautiful applications. Your design will look great on both desktop and mobile devices.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img show-1"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Cutting Edge Applications</h2>
        <p class="lead mb-0">Technology isn't just for fortune 500 companies or slick startups. We're here to provide robust and productive applications for small businesses. </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img show-3 ">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Continuous Support</h2>
        <p class="lead mb-0">You aren't customers, you are our partners. We'll handle everything from developing a mock up to launching your app on the App Store. </p>
      </div>
    </div>
  </div>
</section>
</div>
