<div class="get-started-img text-center"
     style="
     background-image: url(<%= image_path "code-1.jpg"%>)">
  <div class="row d-flex mt-3 p-5">
    <div class="col-lg p-5">
      <div class="get-container">
        <button type="button" class="btn btn-dark p-3 m-3">
          <%= link_to "Get Started", new_contact_path, class: "btn-link" %>
        </button>
      </div>
    </div>
  </div>
</div>