<div class="header-wrapper">
  <div class="container-flex">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 header-col">
        <div class="header-item-wrapper">
          <div class="jumbotron jumbotron-fluid">
            <div class="container jumbo-container">
              <h1 class="display-6">Hi, My Name is Corey !</h1>
              <p class="lead">I'm a Software Engineer and App Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 header-col">
        <div class="header-item-wrapper">
          <div class="container text-align-center">
            <i class="fas fa-cogs"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>