<div class="header-container" style="overflow:hidden;">
<section class="showcase m-2 mb-0">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img show-2"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="pic-grid-caption">Full Stack Development</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img show-1"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2 class="pic-grid-caption">Cutting Edge Tech</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img show-3 ">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="pic-grid-caption">Creative UI Design</h2>
      </div>
    </div>
  </div>
</section>
</div>
