<div class="jumbotron jumbotron-fluid profile-container header-container low-pad">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <img  src=<%=image_path "profile.jpg" %>   class="profile-image"/>
      </div>
      <div class="col-xl-9">
        <h3 class="display-6 col-align">
          Corey Gardner <b class="pipe">|</b> Founder & Software Developer
        </h3>
      </div>
    </div>
  </div>
</div>