<section class="services-wrapper bg-light">
  <div class="container-flex p-5">
    <div class="row d-flex justify-content-center align-items-center">
      <!-- iOS Apps, Landing Pages, E-Commerce -->
      <div class="col-md-4 align-self-center text-center">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h3 class="services-item-header"> Web Design </h3>
          <p class="lead mb-o services-item">
            Take your business to the App store
          </p>
        </div>
      </div>
      <div class="col-md-4 align-self-center text-center">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-desktop"></i>
          </div>
          <h3 class="services-item-header"> Mobile Applications </h3>
          <p class="lead mb-o services-item">
            Take your business to the App store
          </p>
        </div>
      </div>
      <div class="col-md-4 align-self-center text-center">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-cart-arrow-down"></i>
          </div>
          <h3 class="services-item-header"> E-Commerce </h3>
          <p class="lead mb-o services-item">
            Take your business to the App store
          </p>
        </div>
      </div>
    </div>
  </div>
</section>