<section class="services-wrapper bg-light justify-content-center">
  <div class="container-flex services-wrapper justify-content-center pt-3">
    <div class="row d-flex justify-content-center align-items-center pt-3">
      <!-- iOS Apps, Landing Pages, E-Commerce -->
      <div class="col-md-4 align-self-center text-center services-col">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-desktop"></i>
          </div>
          <h3 class="services-item-header"> Web Design </h3>
          <p class="lead mb-o ">
            Beautiful Custom Websites
          </p>
        </div>
      </div>
      <div class="col-md-4 align-self-center text-center services-col">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h3 class="services-item-header"> Mobile Applications </h3>
          <p class="lead mb-o">
            Take Your Business to the App Store
          </p>
        </div>
      </div>
      <div class="col-md-4 align-self-center text-center services-col">
        <div class="features-icons-item">
          <div class="container text-align-center">
            <i class="fas fa-cart-arrow-down"></i>
          </div>
          <h3 class="services-item-header"> E-Commerce </h3>
          <p class="lead mb-o">
              Expand Your Reach
          </p>
        </div>
      </div>
    </div>
  </div>
</section>