<section class="features-icons text-center mt-3" style="background: #fff">
  <div class="container">
    <div class="text-center">
      <!-- hide @ md brkpt -->
      <h2 class="section-heading d-none d-lg-block d-md-block" style="margin-top: 1em; margin-bottom: 1em">
        Tools Of The Trade</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-gem m-auto"></i>
          </div>
          <h2 class="my-3">Ruby On Rails</h2>
          <p class="lead mb-0">Premium Full Stack App Development</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-dove m-auto"></i>
          </div>
          <h2 class="my-3">Flutter</h2>
          <p class="lead mb-0">Amazing Mobile Applications</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fab fa-react m-auto"></i>
          </div>
          <h2 class="my-3">React</h2>
          <p class="lead mb-0">Flawless UI Design</p>
        </div>
      </div>
    </div>
  </div>
</section>