<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="header">Before proceeding please ensure that you meet the following conditions: </h2>
      <div class="section">
        <ol>
          <li>You have a clear proposition for generating value</li>
          <li>You have an idea of what you would like your app/website to look like</li>
          <li>You've already considered how the application will be integrated into your business</li>
        </ol>
      </div>
      <%= render 'form', contact: @contact %>

    </div>
  </div>
</div>
