@import "bootstrap";
@import "mixins";
@import "header";
@import "profile";
@import "icons";
@import "full-img";
@import "picgrid";
body{
  overflow: scroll;
}

.card{
  box-shadow: 0px 0px 5px #BBBBBB;
}

.showcase-title{
  padding: 2.5em;
}


.header-wrap{
  width: 100%;
}

textarea{
  height: 9em;
}

.header{
  text-align: center;
  margin: .5em;
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
}

li{
  font-size: 1.5em;
}