@import "bootstrap";
@import "mixins";
@import "header";
@import "profile";
@import "icons";

.card{
  box-shadow: 0px 0px 5px #BBBBBB;
}

.showcase-title{
  padding: 2.5em;
}

.d-block{
  height: 700px;
  @media only screen and (max-width: 700px) {
    height: 400px;
  }
}

.header-wrap{
  width: 100%;
}


.show-1{
  @include backgroundImage("code-2.jpg");
}

.show-2{
  @include backgroundImage("code-3.jpg");
}

.show-3{
  @include backgroundImage("stock1.jpg")
}


.showcase-text{
  padding: 7em;
}

textarea{
  height: 9em;
}

.header{
  text-align: center;
  margin: .5em;
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
}

li{
  font-size: 1.5em;
}