$podcast-color: mediumpurple;
$podcast-lighter: #b19cd9;

$git-color: lawngreen;
$git-lighter: #adff2f;

$book-color: darkorange ;
$book-lighter: #ffa500;

$youtube-color: red;
$youtube-lighter: #ff6347;