/* Header */
.fa-cogs{
  z-index: 2;
  @media screen and (max-width: 900px){
    font-size: 10em;
  }
  font-size: 18rem;
  background: -webkit-linear-gradient(orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-wrapper{
  margin: 1.5em 1em 1.5em 1em;
}

.header-item-wrapper {
  text-align: center;
  .jumbo-container{
    position: relative;
    top: 4.5em;
  }
}

.header-col{
  height: 50vh;
  @media screen and(max-width: 765px){
    height: 30vh;
    margin: 0 0 2em;
  }
}

