@mixin backgroundImage($imgPath){
  background-image: asset_url($imgPath);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px
}

@mixin icon($color){
  font-size: 4em;
  color: $color;
}