@import "mixins";
.pic-grid-caption{
  text-align: center;
  font-size: 3em;
}

.show-1{
  @include backgroundImage("code-2.jpg");
}

.show-2{
  @include backgroundImage("code-3.jpg");
}

.show-3{
  @include backgroundImage("stock1.jpg")
}

.showcase-text{
  padding: 7em;
}
