.services-wrapper{
  background-color: #BBBBBB;
  height: 45vh;
  @media screen and (max-width: 768px){
    height: 80vh;
  }
}

.fa-cart-arrow-down, .fa-desktop, .fa-mobile-alt{
  font-size: 5em;
  background: -webkit-linear-gradient(orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-item-header{
  padding: .3em 0 0;
}

.services-col{
  margin: 2em 0 0;
  @media screen and (max-width: 768px){
    margin: .5em 0 0;
  }

}
