.services-wrapper{

  height: 40vh;
  @media screen and (max-width: 768px){
    height: 80vh;
  }
}

.fa-cart-arrow-down, .fa-desktop, .fa-mobile-alt{
  font-size: 5em;
  background: -webkit-linear-gradient(orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-cart-arrow-down:hover, .fa-desktop:hover, .fa-mobile-alt:hover{
  font-size: 5.2em;
}

.services-item-header{
  padding: .3em 0 0;
}


.services-col{
  margin: 3em 0 0;
  @media screen and (max-width: 768px){
    margin: .5em 0 0;
  }

}
