.services-wrapper{
  background-color: #BBBBBB;
  height: 45vh;
}

.fa-cart-arrow-down, .fa-desktop, .fa-mobile-alt{
  font-size: 5em;
  background: -webkit-linear-gradient(orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-item-header{
  padding: .2em 0 0;
}
.services-item{
  padding: .25em;
}
