@import "mixies";

.stack-container{
  margin: auto;
  padding: 2em;
}



.React-logo{
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from{
    transform: rotate(0deg);
  }to{
     transform: rotate(360deg);
   }
}

.Ruby-logo{
  @include Logo-Image(32vmin);
  margin: auto;
}

.stack-info{
  @include Text-Shadow();
  text-align: center;
  margin: auto;
}